.site-header {
    background-color: #8B5CF6;
    color: #F5F3FF;
    font-family: monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 5px 10px 8px #6D28D9;
}

.primary-link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #8B5CF6;
    background-color: #F5F3FF;
    border-radius: 00.5rem;
    border: 1px solid #6D28D9;
}
body {
    margin: 0;
}